.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  font-size: 1.2em;
  width: 100%;
  margin-top: 4.5em;

  & p {
    margin-bottom: 3.5em;
  }

  & .contact_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8em;
  }

  & .contact_left__container {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  & .country_container {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  & .contact_social_links {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    & a {
      display: flex;
      align-items: center;
      gap: 0.5em;
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #c99dff;
        text-decoration: none;
        transition: color .3s ease;
      }
    }
  }

  & h2 {
    text-align: center;
    font-size: 42px;
  }

}
