.development_tools__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8em;

    & h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        font-size: 42px;
        text-align: center;
        margin-bottom: 1.4em;
    }
}

.development_tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.5em;

    & h2 {
        text-align: center;
        margin-bottom: 1.6em;
        font-size: 1.6em;
    }

    & .technologies__container {
        display: flex;
        align-items: center;
        gap: 2.8em;        
    }

    & .development_tool__icon svg {
        filter: grayscale(100%);
        transition: filter 0.3s ease, transform 0.3s ease;
    }

    .development_tool__icon:hover svg {
        filter: grayscale(0%);
        transform: scale(1.25);
    }
}
