.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em;
    position: fixed;  /* Make it fixed */
    top: 0;  /* Stick to top */
    left: 0;  /* Stick to left */
    right: 0;  /* Stick to right */    
    z-index: 1000;  /* Ensure navbar stays on top of other content */
    background-color: rgba(0, 0, 0, 0.6);  /* Semi-transparent background */    

    & div {
        margin-left: 1.7em;

        & span {
            font-family: 'Caliste';
            font-weight: bold;
            font-size: 1.5em;
        }
    }
}
