.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.social_buttons {
    display: flex;
    gap: 14px;
    position: relative;
    right: 32px;
}
