.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-top: 0;  /* Changed from 26px */
    padding: 1rem;  /* Added padding */
    position: fixed;  /* Make it fixed */
    top: 0;  /* Stick to top */
    left: 0;  /* Stick to left */
    right: 0;  /* Stick to right */
    z-index: 1000;  /* Ensure navbar stays on top of other content */
    background-color: rgba(0, 0, 0, 0.4);  /* Semi-transparent background */
}

.social_buttons {
    display: flex;
    gap: 14px;
    position: relative;
    right: 32px;
}
