nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-top: 16px;

    & > div {
        display: flex;
        align-items: center;
        gap: 6px;
        margin-right: 32px;
    }

    & ul {
        display: flex;
        align-items: center;
        gap: 16px;
        font-weight: 500;

        & li:hover {
            color: #f0bfff;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
    }
}
