.navbar {
    display: flex;
    align-items: center;    
}

.navbar_sections {
    display: flex;
    align-items: center;
    gap: 6rem;
    font-weight: 500;

    & > li {
        list-style: none;

        & a {
            text-decoration: none;
            color: #fff;

            &:hover {
                color: #c99dff;
                transition: color .3s ease;
            }
        }
    }
}
