.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;

    & .projects_title {
        font-size: 2.6em;
        font-weight: bold;
        color: #fff;
        margin-bottom: 20px;
    }

    & .projects_container {
        display: flex;
        justify-content: center;
        gap: 32px;
        width: 100%;
    }

    & .project_image {
        width: 550px;
    }
}
