.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6em;

    view-timeline-name: --reveal; 
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;

    & .projects_title__container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        margin-bottom: 3em;

        & .projects_title {
            font-size: 42px;
            font-weight: bold;
            color: #fff;
        }
    }

    & .projects_container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8em;
        margin-top: 0.7em;
    }
}

@keyframes show {
    from {
        opacity: 0;
        scale: 10%
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}
