@import '@fontsource-variable/onest';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    cursor: url('/cursor.png'), auto;
    scroll-behavior: smooth;    
}

body {
    font-family: 'Onest Variable', sans-serif;
    color: #fff;
    min-height: 100vh;
    overflow-x: hidden; /* Evitar scroll horizontal */
    background: linear-gradient(45deg,#000000,#300e74);
    background-size: 300% 300%;
    animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
